<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
      .rectangle{
        height:100px;
        width:100%;
        background-color:yellow;
        text-align:center;
      }
      
.rect {
    height: 100px;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
    line-height: 100px;
    font-weight: bold;
}
    </style>
    
</head>
<body>
  <div class="rectangle"> Welcome to the great Karikalan Show </div>  
</body>
</html>